In [1]:
#imports here !!

import pandas as pd
import numpy as np
import random
import datetime
from sklearn.model_selection import train_test_split
##### NOTE : I used sklearn just for train_test_split to randomly shuffle data
import matplotlib.pyplot as plt

In [2]:
###### Dataset creation..
Raw_data = pd.read_csv('hour.csv' )
Raw_data['dteday'] = Raw_data['dteday'].astype('datetime64[ns]')
Raw_data['day'] = (Raw_data.dteday.dt.day) #### extracting the "day" from dteday feature. For creating train and test set 
Raw_data['bias'] = 0*Raw_data['day']  + 1  ##### adding  a bias term  to data

######## normalisation.

normalised_df = Raw_data.copy()
normalised_df.head()
normalised_df.iloc[:,2:14] = Raw_data.iloc[:,2:14].apply(lambda x: (x-x.mean())/ x.std(), axis=0)
Data = normalised_df.copy()
print('Raw Data')
display(Raw_data)

print('Normalised Data')
display(Data)

Raw Data

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt,day,bias
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0000,3,13,16,1,1
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0000,8,32,40,1,1
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0000,5,27,32,1,1
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0000,3,10,13,1,1
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0000,0,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17374,17375,2012-12-31,1,1,12,19,0,1,1,2,0.26,0.2576,0.60,0.1642,11,108,119,31,1
17375,17376,2012-12-31,1,1,12,20,0,1,1,2,0.26,0.2576,0.60,0.1642,8,81,89,31,1
17376,17377,2012-12-31,1,1,12,21,0,1,1,1,0.26,0.2576,0.60,0.1642,7,83,90,31,1
17377,17378,2012-12-31,1,1,12,22,0,1,1,1,0.26,0.2727,0.56,0.1343,13,48,61,31,1
17378,17379,2012-12-31,1,1,12,23,0,1,1,1,0.26,0.2727,0.65,0.1343,12,37,49,31,1

Normalised Data

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt,day,bias
0,1,2011-01-01,-1.356595,-1.005105,-1.610392,-1.669956,-0.172107,1.493848,-1.466858,-0.665174,-1.334609,-1.093249,0.947345,-1.553844,3,13,16,1,1
1,2,2011-01-01,-1.356595,-1.005105,-1.610392,-1.525330,-0.172107,1.493848,-1.466858,-0.665174,-1.438475,-1.181698,0.895513,-1.553844,8,32,40,1,1
2,3,2011-01-01,-1.356595,-1.005105,-1.610392,-1.380705,-0.172107,1.493848,-1.466858,-0.665174,-1.438475,-1.181698,0.895513,-1.553844,5,27,32,1,1
3,4,2011-01-01,-1.356595,-1.005105,-1.610392,-1.236079,-0.172107,1.493848,-1.466858,-0.665174,-1.334609,-1.093249,0.636351,-1.553844,3,10,13,1,1
4,5,2011-01-01,-1.356595,-1.005105,-1.610392,-1.091454,-0.172107,1.493848,-1.466858,-0.665174,-1.334609,-1.093249,0.636351,-1.553844,0,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17374,17375,2012-12-31,-1.356595,0.994863,1.588421,1.077931,-0.172107,-0.998959,0.681690,0.898898,-1.230743,-1.269565,-0.141133,-0.211685,11,108,119,31,1
17375,17376,2012-12-31,-1.356595,0.994863,1.588421,1.222556,-0.172107,-0.998959,0.681690,0.898898,-1.230743,-1.269565,-0.141133,-0.211685,8,81,89,31,1
17376,17377,2012-12-31,-1.356595,0.994863,1.588421,1.367182,-0.172107,-0.998959,0.681690,-0.665174,-1.230743,-1.269565,-0.141133,-0.211685,7,83,90,31,1
17377,17378,2012-12-31,-1.356595,0.994863,1.588421,1.511807,-0.172107,-0.998959,0.681690,-0.665174,-1.230743,-1.181698,-0.348463,-0.456086,13,48,61,31,1
17378,17379,2012-12-31,-1.356595,0.994863,1.588421,1.656433,-0.172107,-0.998959,0.681690,-0.665174,-1.230743,-1.181698,0.118028,-0.456086,12,37,49,31,1

In [3]:
Train_data = Data[ Data['day'] < 20 ]
Test_data = Data[ Data['day'] > 19 ]

##########################
## Features to be considered
##########################
features = ['bias','season','mnth','hr','workingday','weathersit','windspeed','temp']

X_train_data = pd.DataFrame(Train_data,columns = features)
print("Training data")
display(X_train_data)
Y_train_data = pd.DataFrame(Train_data,columns = ['cnt'])

X_test_data = pd.DataFrame(Test_data,columns = features)
print("Testing data")
display(X_test_data)
Y_test_data = pd.DataFrame(Test_data,columns = ['cnt'])

######## divinding training data to Training and Validation set . ration 80:20
X_train_df, X_validation_df, Y_train_df, Y_validation_df = train_test_split(X_train_data,Y_train_data, test_size=0.2, random_state=42)

Training data

,bias,season,mnth,hr,workingday,weathersit,windspeed,temp
0,1,-1.356595,-1.610392,-1.669956,-1.466858,-0.665174,-1.553844,-1.334609
1,1,-1.356595,-1.610392,-1.525330,-1.466858,-0.665174,-1.553844,-1.438475
2,1,-1.356595,-1.610392,-1.380705,-1.466858,-0.665174,-1.553844,-1.438475
3,1,-1.356595,-1.610392,-1.236079,-1.466858,-0.665174,-1.553844,-1.334609
4,1,-1.356595,-1.610392,-1.091454,-1.466858,-0.665174,-1.553844,-1.334609
...,...,...,...,...,...,...,...,...
17088,1,1.353632,1.588421,1.077931,0.681690,-0.665174,1.618457,-0.607548
17089,1,1.353632,1.588421,1.222556,0.681690,-0.665174,0.276298,-0.711414
17090,1,1.353632,1.588421,1.367182,0.681690,-0.665174,0.276298,-0.815280
17091,1,1.353632,1.588421,1.511807,0.681690,-0.665174,-0.821460,-0.815280
17092,1,1.353632,1.588421,1.656433,0.681690,-0.665174,-0.456086,-0.919146

Testing data

,bias,season,mnth,hr,workingday,weathersit,windspeed,temp
431,1,-1.356595,-1.610392,-1.669956,0.68169,-0.665174,1.618457,-1.230743
432,1,-1.356595,-1.610392,-1.525330,0.68169,-0.665174,-1.553844,-1.230743
433,1,-1.356595,-1.610392,-1.380705,0.68169,-0.665174,-1.553844,-1.230743
434,1,-1.356595,-1.610392,-1.236079,0.68169,-0.665174,-0.211685,-1.230743
435,1,-1.356595,-1.610392,-1.091454,0.68169,-0.665174,-0.211685,-1.230743
...,...,...,...,...,...,...,...,...
17374,1,-1.356595,1.588421,1.077931,0.68169,0.898898,-0.211685,-1.230743
17375,1,-1.356595,1.588421,1.222556,0.68169,0.898898,-0.211685,-1.230743
17376,1,-1.356595,1.588421,1.367182,0.68169,-0.665174,-0.211685,-1.230743
17377,1,-1.356595,1.588421,1.511807,0.68169,-0.665174,-0.456086,-1.230743
17378,1,-1.356595,1.588421,1.656433,0.68169,-0.665174,-0.456086,-1.230743

In [29]:



def create_validation_data(X_train_data,ratio):
    Train = Train_data.sample(frac = ratio) 
    Validation = Train_data.drop(Train.index)
    
    return Train, Validation

training_data,validation_data = create_validation_data(Train_data,0.8)


features = ['bias','season','mnth','hr','workingday','weathersit','windspeed','temp']

X_train_df = pd.DataFrame(training_data,columns = features)
Y_train_df = pd.DataFrame(training_data,columns = ['cnt'])

X_valid_df = pd.DataFrame(validation_data,columns = features)
Y_valid_df = pd.DataFrame(validation_data,columns = ['cnt'])


display(X_train_df)
display(Y_train_df)

,bias,season,mnth,hr,workingday,weathersit,windspeed,temp
17026,1,1.353632,1.588421,-0.946828,0.681690,0.898898,-1.553844,-0.607548
1532,1,-1.356595,-1.028789,-0.946828,0.681690,0.898898,-0.456086,-1.334609
141,1,-1.356595,-1.610392,-1.091454,0.681690,0.898898,-0.456086,-1.542341
7945,1,1.353632,1.588421,0.788679,0.681690,-0.665174,-1.553844,-0.399817
9540,1,-1.356595,-1.319590,-0.079074,0.681690,-0.665174,0.031898,-0.711414
...,...,...,...,...,...,...,...,...
12317,1,-0.453186,-0.156386,-0.223700,-1.466858,-0.665174,0.886073,0.534976
8090,1,1.353632,1.588421,0.933305,0.681690,-0.665174,0.276298,-1.126878
12464,1,-0.453186,-0.156386,0.210177,0.681690,-0.665174,0.519881,1.262036
10529,1,-1.356595,-1.028789,1.222556,0.681690,-0.665174,0.276298,0.534976
6545,1,1.353632,1.006819,-0.657577,0.681690,-0.665174,-0.699669,-0.192085

       cnt
17026   24
1532     8
141      1
7945   411
9540   129
...    ...
12317  493
8090   318
12464  416
10529  330
6545   301

[8709 rows x 1 columns]

In [6]:
########### Converting data in dataframes to numpy arrays for calculations

X_train = X_train_df.to_numpy()
Y_train = Y_train_df.to_numpy()

X_validation = X_validation_df.to_numpy()
Y_validation = Y_validation_df.to_numpy()

X_test = X_test_data.to_numpy()
Y_test = Y_test_data.to_numpy()

In [7]:
#############
### gradient_descent takes in the past beta-param, X, Y and thus calculates 
### the gradient of the loss function.

### The proof for it is given in the handwriiten report


def gradient_descent(beta,X,Y,lr,lamda =0,reg_type = 0):
    
    beta_new = beta.copy()
    N,_ = Y.shape 
    Y_hat = np.exp(X @ beta)
    diff = (Y_hat - Y)
    
    if(reg_type == 0):
        beta_new = beta - (lr/(N))*( np.transpose(X)@diff ) 
        
    elif(reg_type==1):
        i = np.ones((beta.shape))
        beta_new = ( beta + (lamda/N)*i )  - (lr/(N))*(np.transpose(X)@diff)
        
    elif(reg_type == 2):
        beta_new = (1+ (lamda/N) )*beta - (lr/(N))*( np.transpose(X)@diff ) 
        
    
    return beta_new


#### Calculating rmse--> root mean square error, with Y_hat--> Y_pred
def rmse(Y,Y_hat):
    diff = Y - Y_hat
    error = np.sqrt(np.mean(np.square((diff)) ))
    return error

### Once beta converges , we can calculte Y_pred with this function

def predict(X,beta):
    return np.exp(X @ beta)

###  Computing log-loss which is calculated on the validation data set
def compute_log_loss(X_validate,Y_validate,Y_pred,beta,lamda = 0,reg_type = 0):
    N = beta.size
    n,_ = X_validate.shape
    if (reg_type == 0):
        loss =  (1/n)*np.sum( Y_pred - np.multiply(Y_validate, X_validate@beta) )
    elif(reg_type == 1):
        loss =  (1/n)*np.sum( Y_pred - np.multiply(Y_validate, X_validate@beta) ) + (lamda/N)*(np.sum(beta)) 
    else:
        loss = (1/n)*np.sum( Y_pred - np.multiply(Y_validate, X_validate@beta) ) + (lamda/(2*N) )*(np.sum(beta**2))

    return loss

#### Using all the above funvtions and run gradient descent for 'n' epochs
def run_epochs(X_train,Y_train,X_validate,Y_validate, lr,epochs,reg_type = 0,lamda = 0):
    _,k = X_train.shape
    B = np.random.randn(k,1)+0.1
    
    for j in range(epochs):
        beta = B.copy()
        #print(beta)
        B = gradient_descent(beta,X_train,Y_train,lr,lamda,reg_type)
        
        Y_pred = predict(X_validate,B)
        loss = compute_log_loss(X_validate,Y_validate,Y_pred,B,lamda,reg_type)
        if(j%20 == 0):
            print('Validation loss for epoch %d  : %.2f'%(j,loss) )
        
    return B

In [8]:

param = run_epochs(X_train,Y_train,X_validation,Y_validation,5e-3,100,reg_type = 1,lamda = 0.1)


Y_test_pred = predict(X_test,param)

print(rmse(Y_test,Y_test_pred))

print(param)

Validation loss for epoch 0  : -94.02
Validation loss for epoch 20  : -841.76
Validation loss for epoch 40  : -842.23
Validation loss for epoch 60  : -842.39
Validation loss for epoch 80  : -842.44
160.24069753727804
[[ 5.11072922]
 [-0.10426348]
 [ 0.23967609]
 [ 0.35189924]
 [ 0.00649241]
 [-0.1049542 ]
 [ 0.07781516]
 [ 0.30682445]]

In [ ]:
Train_data = Data[ Data['day'] < 20 ]
Test_data = Data[ Data['day'] > 19 ]

Raw_train = Raw_data[Raw_data['day'] < 20]
Raw_test = Raw_data[Raw_data['day'] > 19]

##########################
## Features to be considered
##########################
features = ['bias','season','mnth','hr','workingday','weathersit','windspeed','temp']

X_train_data = pd.DataFrame(Train_data,columns = features)
print("TRAINING DATA")
#printmd("**TRAINING DATA : normalised version**", color="RED")
display(X_train_data)
Y_train_data = pd.DataFrame(Train_data,columns = ['cnt'])

X_test_data = pd.DataFrame(Test_data,columns = features)
#printmd("**TESTING DATA : normalised version**", color="RED")
print("TESTING DATA")
display(X_test_data)
Y_test_data = pd.DataFrame(Test_data,columns = ['cnt'])

######## divinding training data to Training and Validation set . ration 80:20
X_train_df, X_validation_df, Y_train_df, Y_validation_df = train_test_split(X_train_data,Y_train_data, test_size=0.2, random_state=42)